html {
  height: -webkit-fill-available;
}

body {
  border: 0;
  vertical-align: baseline;
  height: 100%;
  height: -webkit-fill-available;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 1em; */
  /* background: rgb(122,4,38);
  background: -moz-linear-gradient(0deg, rgba(122,4,38,1) 0%, rgba(8,22,119,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(122,4,38,1) 0%, rgba(8,22,119,1) 100%);
  background: linear-gradient(0deg, rgba(122,4,38,1) 0%, rgba(8,22,119,1) 100%);
  background-attachment: fixed;*/
  /* background-image: url("/assets/images/Background.jpg");
  filter: blur(8px);
  background-size: cover;
  background-repeat: no-repeat;  */
}

img{
  pointer-events: none;
}

#background-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: url("../assets/images/Background.jpg");
  filter: blur(20px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  transform: scale(1.1);
}

button {
  z-index: 11;
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url("../font/SFProDisplay-Regular.otf");
}

.sf-pro-regular {
  font-family: SFProDisplay-Regular, sans-serif;
}

@font-face {
  font-family: SFProDisplay-Thin;
  src: url("../font/SF-Pro-Display-Thin.otf");
}

.sf-pro-light {
  font-family: SFProDisplay-Regular, sans-serif;
}

@font-face {
  font-family: SFProDisplay-Medium;
  src: url("../font/SFProDisplay-Medium.otf");
}

.sf-pro-medium {
  font-family: SFProDisplay-Medium, sans-serif;
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url("../font/SFProDisplay-Heavy.otf");
}

.sf-pro-heavy {
  font-family: SFProDisplay-Heavy, sans-serif;
}

@font-face {
  font-family: SFProDisplay-Semibold;
  src: url("../font/SF-Pro-Display-Semibold.otf");
}

.sf-pro-semibold {
  font-family: SFProDisplay-Semibold, sans-serif;
}

@font-face {
  font-family: GlowSansSC-Normal-Regular;
  src: url("../font/GlowSansSC-Normal-Regular.otf");
}

.glowsans-normal-regular {
  font-family: GlowSansSC-Normal-Regular, sans-serif;
}

@font-face {
  font-family: GlowSansSC-Normal-Bold;
  src: url("../font/GlowSansSC-Normal-Bold.otf");
}

.glowsans-normal-bold {
  font-family: GlowSansSC-Normal-Bold, sans-serif;
}

@font-face {
  font-family: RaceSport;
  src: url("../font/Race-Sport.ttf");
}

.race-sport {
  font-family: RaceSport, sans-serif;
}

.fs-fixed-xxl {
  /* font-size: 16px !important; */
  font-size: 1.4rem;
}

.fs-fixed-xl {
  /* font-size: 16px !important; */
  font-size: 1.3rem;
}

.fs-fixed-lg {
  /* font-size: 16px !important; */
  font-size: 1.2rem;
}

.fs-fixed-md {
  /* font-size: 13px !important; */
  font-size: 1rem;
}

.fs-fixed-sm {
  /* font-size: 11px !important; */
  font-size: 0.75rem !important;
}

.fs-fixed-xs {
  /* font-size: 9px !important; */
  font-size: 0.65rem !important;
}

.fs-fixed-xxs {
  /* font-size: 9px !important; */
  font-size: 0.5rem !important;
}

/* #first-step {
  margin-top: 5vh;
  margin-top: clamp(5vh, 5vh, 7vh);
} */

.fw-custom-light {
  font-weight: 100 !important;
}

.row-wrapper {
  overflow-x: hidden;
  max-width: 1550px;
  min-height: min(1170px, 100vh);
  margin-left: auto;
  margin-right: auto;
}

/* .row-wrapper div:first-child {
  height: 100%;
} */

.wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 220%;
  position: relative;
}

#wrapper-bg-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

#column-wrapper {
  overflow-y: auto;
}

.content-wrapper {
  width: 100%;
  padding-top: 10%;
}

#logo-img {
  width: 100px;
}

.text-orange {
  color: #f5791f;
}

.text-blue {
  color: #010064;
}

.bg-gradient-orange {
  border: none;
  /* background-color: #fc9e0c; */
  background: rgb(255, 132, 24);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 132, 24, 1) 0%,
    rgba(255, 190, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 132, 24, 1) 0%,
    rgba(255, 190, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 132, 24, 1) 0%,
    rgba(255, 190, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8418",endColorstr="#ffbe00",GradientType=1);
}

.bg-gradient-orange-inv {
  border: none;
  /* background-color: #fc9e0c; */
  background: rgb(255, 132, 24);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 190, 0, 1) 0%,
    rgba(255, 132, 24, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 190, 0, 1) 0%,
    rgba(255, 132, 24, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 190, 0, 1) 0%,
    rgba(255, 132, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbe00",endColorstr="#ff8418",GradientType=1);
}

.bg-orange {
  background: #f5791f !important;
}

.bg-grey {
  background: #dcdcdc !important;
}

.orange-theme-btn {
  border-radius: 10px;
  font-weight: 500;
  padding: 10px 2rem;
  border: none;
  /* background-color: #fc9e0c; */
  background: rgb(255, 132, 24);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 132, 24, 1) 0%,
    rgba(255, 190, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 132, 24, 1) 0%,
    rgba(255, 190, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 132, 24, 1) 0%,
    rgba(255, 190, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8418",endColorstr="#ffbe00",GradientType=1);
}

.btn-claim-body {
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px; /* Set border radius */
  background: rgb(1, 131, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(1, 131, 255, 1) 80%,
    rgba(0, 75, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(1, 131, 255, 1) 80%,
    rgba(0, 75, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(1, 131, 255, 1) 80%,
    rgba(0, 75, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0183ff",endColorstr="#004bff",GradientType=1);
}

.btn-claim {
  cursor: pointer;
  border-radius: 12px;
  padding: 2px;
  background-image: linear-gradient(
    270deg,
    rgba(148, 204, 255, 1) 80%,
    rgba(4, 26, 218, 1) 100%
  ) !important;
  background-image: -moz-linear-gradient(
    270deg,
    rgba(148, 204, 255, 1) 80%,
    rgba(4, 26, 218, 1) 100%
  ) !important;
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(148, 204, 255, 1) 80%,
    rgba(4, 26, 218, 1) 100%
  ) !important;
  animation: pulse-white 1.5s infinite, wiggle 1.5s infinite;
}

.spin-countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.timer-number img {
  width: 80%;
}

.timer-number span {
  position: absolute;
}

.spin-countdown p {
  font-family: SFProDisplay-Semibold, sans-serif;
}

.info {
  display: flex;
  /* left: 5%; */
  line-height: 1;
  /* max-width: 90%; */
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  background-image: url("../assets/images/Highlight-box.png");
  background-size: 100% 100%;
  border-radius: 15px;
  /* background: rgb(90,0,99);
  background: -moz-linear-gradient(175deg, rgba(90,0,99,1) 45%, rgba(214,0,115,1) 100%);
  background: -webkit-linear-gradient(175deg, rgba(90,0,99,1) 45%, rgba(214,0,115,1) 100%);
  background: linear-gradient(175deg, rgba(90,0,99,1) 45%, rgba(214,0,115,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a0063",endColorstr="#d60073",GradientType=1);
  border: solid 2px #f5791f; */
  /* box-shadow: 0 0 5px 5px rgba(245, 121, 31,255); */
}

.blink {
  animation-name: blink;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#question-no,
#question-yes {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#spin {
  position: absolute;
  bottom: 6%;
  animation: pulse-orange 1.5s infinite, wiggle 1.5s infinite;
}

#second-step {
  margin-top: 3em;
}

#progress {
  margin-top: 3em;
}

#progress .progress {
  height: 40px;
}

.rounded-half {
  border-radius: 12px !important;
}

.card-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}

#question-count {
  width: 40px;
  height: 40px;
  /* padding: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f5791f;
  font-weight: bold;
}

.green-dot {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  -webkit-border-radius: 50%;
  width: 15px;
  height: 15px;
  /* background: linear-gradient(to bottom, #65ab53 0%, #578843 100%); */
}

.bg-green {
  background-color: #00ff31 !important;
}

.text-green {
  color: #00ff31 !important;
}

/* .spin-btn-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0, 0.8);
} */
/* .spin-btn-overlay button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  background-color: darkgreen;
} */

.spin-wrapper {
  position: absolute;
  width: 60%;
  /* position: relative; */
  bottom: 16%;
  display: flex;
  justify-content: center;
}

.spin-wrapper .wheel {
  width: 100%;
}

.spin-wrapper .wheel-underlay {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.marker {
  position: absolute;
  width: 100%;
  top: -11%;
}

.dwheel {
  pointer-events: none;
}

.dwheel > canvas {
  width: 100%;
  /* max-width: 480px;
  max-height: 480px;
  width: 480px !important;
  height: auto !important; */
}

.modal-con img {
  display: block;
  width: 15rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.fireworks {
  position: absolute;
  max-width: 50%;
  z-index: 10;
  transform: scale(0);
}

#fireworks1 {
  bottom: 40%;
  animation-name: firework;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#fireworks2 {
  max-width: 30% !important;
  bottom: 15%;
  right: 0;
  filter: hue-rotate(100deg);
  animation-name: firework;
  animation-duration: 1.3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.fireworks img {
  width: 100%;
}

#you-win {
  position: absolute;
  z-index: 11;
  top: 0%;
  transform: scale(3.3);
  text-shadow: 3px 3px 0 #000;
  animation: youwin 0.5s ease-out, 1s pulse 0.5s infinite;
}

#you-win h1{
  margin: 0;
}

.comment-container h6, p, small {
  margin: 0 !important;
  padding: 0 !important;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile-name h6 {
  font-size: 0.9rem;
}

.profile-name h6:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile-date img {
  opacity: 0.8;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.profile-date small {
  font-weight: 600;
  font-size: 0.7rem;
}

.profile-date span {
  font-size: 0.2rem !important;
}

.bg-light-gray {
  background-color: #ebecef;
}

.comment-body p {
  font-weight: 610;
  font-size: 0.7rem;
}

.fb-text-blue {
  color: #2f5496;
  font-style: Helvetica Neu;
}

.footer-btn {
  font-weight: 720 !important;
  font-size: 0.8rem !important;
}

.footer-btn:hover {
  color: #2f5496 !important;
}

.fade-bottom-img {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

@keyframes pulse {
  0% {
    transform: scale(3.3);
  }
  50% {
    transform: scale(3.6);
  }
  100% {
    transform: scale(3.3);
  }
}

@keyframes youwin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(3.3);
  }
}

@keyframes firework {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}