/**
Media queries target for most mobile devices
**/

/* iPhones 5/SE and smaller */
@media only screen and (max-device-width: 320px) {
  /* CSS rules for smaller iPhones */
}

/* iPhones 6/7/8 and larger */
@media only screen and (min-device-width: 375px) {
  /* CSS rules for larger iPhones */
}

/* Google Pixel, Samsung Galaxy S7, S8, S9, S10 */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  /* CSS rules for Google Pixel and Samsung Galaxy phones */
}

/* Google Pixel 2 XL, Samsung Galaxy S8+, S9+, S10+, Note 8, Note 9 */
@media only screen and (min-device-width: 740px) {
  /* CSS rules for larger Google Pixel and Samsung Galaxy phones */
}

/* iPad (all models) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* CSS rules for all iPad models */
  /* html {
    font-size: 24px !important;
  }
  .row-wrapper #column-wrapper {
    min-width: 80% !important;
  } */
}

/* iPad Pro (all models) */
@media only screen and (min-device-width: 1024px) {
  /* CSS rules for all iPad Pro models */
  /* .row-wrapper #column-wrapper {
    min-width: 100% !important;
  } */
}

/* Common tablet devices (Samsung Galaxy Tab, Amazon Fire, etc.) */
@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
  /* CSS rules for common tablet devices */
}

/* Bootstrap 5 media queries */

/* Styles for extra small screens */
@media (min-width: 767.98px) {
  /* Add styles for small screens here */
}

/* Styles for small screens */
@media (max-width: 767.98px) {
  /* Add styles for small screens here */
  html {
    font-size: 16px !important;
  }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Add styles for medium screens here */
  html {
    font-size: 16px;
  }
}

/* Styles for large screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Add styles for large screens here */
  html {
    font-size: 18px;
  }
}

/* Styles for extra-large screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Add styles for extra-large screens here */
  html {
    font-size: 17px;
  }
}

/* Styles for extra-extra-large screens */
@media (min-width: 1400px) {
  /* Add styles for extra-extra-large screens here */
  html {
    font-size: 17px;
  }
}